.container00{
    &.container05{
      background-image: url(../../img/falcon9/01.jpg);  
    }
    &.container06{
        background-image: url(../../img/falcon9/02.jpg);  
      }
      &.carrossel01{
        background-image: url(../../img/falcon9/03.jpg);  
      }
      &.carrossel02{
        background-image: url(../../img/falcon9/04.jpg);  
      }
      &.carrossel03{
        background-image: url(../../img/falcon9/05.jpg);  
      }
      &.carrossel04{
        background-image: url(../../img/falcon9/06.jpg);  
      }
      &.carrossel05{
        background-image: url(../../img/falcon9/07.jpg);  
      }
      &.container07{
        background-image: url(../../img/falcon9/08.jpg);  
      }
}
.titleFalcon9{
    font-size: 90px;
    font-family: "Rubik";
    font-weight: 514;
    text-shadow: 1px 1px 5px  black;
    
    
}.subTitleFalcon{
        background-color: rgba(4, 4, 4, 0.101);
        padding: 3px;
        border-radius: 5px;
        text-shadow: 1px 1px 1px  black;
    }
.titleContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 78vh;
}
.numbers{
    background-color: black;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .titleNumb{
        font-size: 90px;
    }
    .subTitleNumb{
        font-size: 20px;
    }
}
.falcon9Desc{
    font-size: 22px;
    width: 640px;
    line-height: 50px;
}
.containerFalcon9Desc{
    display: grid;
    height: 90vh;
    align-items: center;
    justify-content: left;
}
#overViewPosition{
    width: 500px;
    margin-left: 13%;
    padding-top: 15%;
}
.carrosselSlide{
    img{
        height: 100vh;
    }
}
.carousselText{
    background-color: black;
}
.downloadDesc{
    background-color: black;
    height: 93vh;
    padding-top: 270px;
    a{
        text-decoration: none;
        color: $copy-color;
        &:hover{
        color: #6c2121;
    }
    }
    button{
     border: 2px solid white;
     margin-right: 10px;
     margin-top: 15px;
    }
    
}
@media (max-width: 768px){
    .numbers{
        .titleNumb{
            font-size: 80px;
        }
        .subTitleNumb{
            font-size: 18px;
        }
    } 
    .falcon9Desc{
        
        width: auto;
        
    }
}
@media (max-width: 590px){
    #overViewPosition{
        width: auto;
        margin-left: auto;
        padding-top: 15%;
    }
}
@media (max-width: 575px){
    .numbers{
        background-color: black;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 412px){
    .titleFalcon9{
        font-size: 50px;
        font-family: "Rubik";
        font-weight: 514;
        
    }
        .subTitleFalcon{
            background-color: rgba(39, 37, 37, 0.579);
            padding: 3px;
            border-radius: 5px;
            font-size: 15px;
        }
        .falcon9Desc{
            font-size: 18px;
            line-height: auto;
        }
}